.FooterComponent {
    width: 100%;
    background-color: black;
    color: white;
}

.FooterComponent-in {
    width: 100%;
    padding: 1rem 2rem;
}

.footer-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1rem 0rem;
}

.footer-one-one {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-one-one a {
    text-decoration: none;
}

.footer-one-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-one-two a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.footer-two {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-two-one {
    width: fit-content;
}

.footer-two-two {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-cm {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-nav-cm a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer-three {
    width: 100%;
    padding: 1rem 0rem;
    border-top: 1px solid gray;
    text-align: center;
}

.footer-three p {
    font-size: .8rem;
}

@media (max-width: 1024px) {
    .FooterComponent-in {
        width: 95%;
    }

    .footer-two-two {
        width: 50%;
    }

    .footer-nav-cm a {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .footer-one {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .footer-one-two {
        width: 100%;
    }

    .footer-one-two a {
        font-size: .75rem;
    }

    .footer-two {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

    .footer-two-two {
        width: 100%;
    }

    .footer-nav-cm a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .FooterComponent-in {
        width: 95%;
        padding: 0rem 0rem;
    }

    .footer-one,
    .footer-two {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-one-two {
        width: 100%;
        justify-content: space-between;
        padding: 1rem 0rem;
    }

    .footer-one-two a {
        font-size: .6rem;
    }

    .footer-two-two {
        width: 100%;
        gap: 1rem;
        padding: 2rem 0rem 0rem 0rem;
    }

    .footer-nav-cm {
        align-items: center;
    }

    .footer-nav-cm a {
        font-size: .8rem;
    }
}

@media (max-width: 375px) {
    .footer-one-one {
        gap: 0.5rem;
    }

    .footer-one-two a {
        font-size: .55rem;
    }

    .footer-nav-cm a {
        font-size: .75rem;
    }

    .footer-three p {
        font-size: .7rem;
    }
}