

.ProjectsComponent {
    width: 100%;
}

.ProjectsComponent-in {
    width: 90%;
    margin: 0rem auto;
    padding: 4rem 0rem;
}

.projects-one {
    width: 100%;
}

.projects-one h1 {
    font-size: 2rem;
    font-weight: 700;
}

.projects-one p {
    font-size: .8rem;
    font-weight: 500;
}

.projects-two {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}